header {
	background: #D3D3D3;
	padding: 20px 0;
}

.box2 {
	position: relative;
	width: 770px;
	margin: 0 auto;
}
nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}
.banner {
	width:100%;
}

.mainHome {
	background: #CCCCCC;
	padding: 30px;
}
.centralizedTitle {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}
.mainHome p {
	margin: 0 0 1em;
}
.mainHome strong {
	font-weight: bold;
}
.mainHome em {
	font-style: italic;
}
.utensils {
width: 120px;
float: left;
margin: 0 20px 20px 0;
}
p {
	text-align: center;
}

.mission {
	font-size: 20px
}
.maps {
	padding: 3em 0;
}
.maps p {
	margin: 0 0 2em;
}
em strong {
	color: #000000;
}

.itens {
	font-style: italic
}

.benefits {
	background: #FFFFFF;
	padding: 20px;
}

.benefits2 {
		display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imgBenefits {
	width: 60%;
}
footer {
	text-align: center;
	background: #000000;
	padding: 40PX 0;
}
.copyrigth {
	color: #ffffff;
	font-size: 13px;
	margin: 20px 0;
}