header {
	background: #D3D3D3;
	padding: 20px 0;
}

.box2 {
	position: relative;
	width: 770px;
	margin: 0 auto;
}
nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}
.banner {
	width:100%;
}

.mainHome {
	padding: 3em 0;
	background-color: #FEFEFE;
}
.centralizedTitle {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}
.mainHome p {
	margin: 0 0 1em;
}
.mainHome strong {
	font-weight: bold;
}
.mainHome em {
	font-style: italic;
}
.utensils {
width: 120px;
float: left;
margin: 0 20px 20px 0;
}
p {
	text-align: center;
}

.mission {
	font-size: 20px
}
em strong {
	color: #000000;
}

.itens {
	line-height: 1.5;
	font-style: italic
}
.itens:first-child {
	font-weight: bold;
}
.maps {
padding:3em 0 ;
background: linear-gradient(#FEFEFE, #888888);

}
.mapContent {
	width: 940px;
	margin: 0 auto;
	
}
.maps p {
	margin: 0 0 2em;
}

.benefits {
	background: #888888;
	padding: 3em 0;
}
.contentBenefits {
	width: 640px;
	margin: 0 auto;
}
.benefits2 {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.imgBenefits {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px  #000000 ;
}
.video {
	width: 560px;
	margin: 2em auto;
}
footer {
	text-align: center;
	background: #000000;
	padding: 40PX 0;
}
.copyrigth {
	color: #ffffff;
	font-size: 13px;
	margin: 20px 0;
}